.phone-div {
    background: #FFF;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    border-radius: 10px;
}

.table-div {
    padding: 20px;
}

.echarts-div {
    padding: 20px;
    position: relative;
    height: calc(100vh - 120px);
}

.table-div h3, .echarts-div h3 {
    margin: 0 0 20px 0;
}

#pieChart {
    width: 1200px;
    height: 800px;
    background: #f6f6f6;
    position: absolute;
    left: 0;
    top: 60px;
    padding: 20px;
}

#barChart {
    width: 1200px;
    height: 800px;
    background: #f6f6f6;
    position: absolute;
    left: 0;
    top: 60px;
    padding: 20px;
}

